canvas {
  position: fixed;
  top: 0;
  left: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  color: white;
  position: absolute;
  width: 100%;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: 2 / span 5;
  background: rgba(15, 15, 15, 0.95);
  padding: 32px;
  font-size: 40px;
  margin-bottom: 350px;
}

section {
  grid-column: 2 / 8;
  background: rgba(15, 15, 15, 0.95);
  padding: 16px;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 350px;
}

.left {
  grid-column: 6 / 12;
}

.light {
  background: rgba(30, 30, 30, 0.85);
}
